html{
    font-size: 20px;
}

body{
    background-color: rgb(0, 42, 180);
    background-color: rgb(87, 51, 187);
}

main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    grid-template-areas: 
        "a a a "
        "a a a "
        "b c d "
        "e e d "
        "f g d "
        ;          
    gap: 5px;
}

section{
    /* width: 50%; */
    background-color: rgb(0, 255, 242);
    /* height: 64px; */
    /* margin-top: 25px;
    margin-bottom: 16px;
    margin-left: 2em;
    margin-right: 2em; */
    /* margin: 5px auto; */
}

section:nth-of-type(1){
    grid-area: a;
}
section:nth-of-type(2){
    grid-area: b;    
}
section:nth-of-type(3){
    grid-area: c;
}
section:nth-of-type(4){
    grid-area: d;
}
section:nth-of-type(5){
    grid-area: e;
}
section:nth-of-type(6){
    grid-area: f;
}
section:nth-of-type(7){
    grid-area: g;
}
section:nth-of-type(8){
    grid-area: h;
}
section:nth-of-type(9){
    grid-area: i;
}
